pre {
  background-color: transparent;
  border-radius: 4px;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  font-size: 1.1rem; 
}

code {
  font-family: 'Courier New', monospace;
  color: #77c44d;
  font-size: 0.95rem; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  border: 1px solid transparent;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #007bff;
  color: transparent;
}

.theme-doc-markdown .admonition {
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0;
}

.admonition-note { background-color: #d1ecf1; color: #0c5460; }
.admonition-warning { background-color: #fff3cd; color: #856404; }

.request, .response {
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: transparent;
  border-radius: 4px;
}

.request { background-color: #007bff; }
.response { background-color: #28a745; }

@media (max-width: 768px) {
  .navbar__inner, .navbar__items {
    position: static;
    width: 100%;
  }
  .code-title {
    font-size: 0.9rem;
  }
}

details {
  border: 2px solid transparent !important;
  border-radius: 8px !important;
  padding: 0.5rem !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

details[open] {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;

}

details summary {
  background-color: transparent !important; 
  padding: 0.5rem !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

details summary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.container {
  display: flex;
  align-items: flex-start;
}

.container-esquerda {
  flex: 1;
}

.container-direita {
  overflow-y: auto;
}

.sup-obrigatorio {
  color: red;
  font-weight: bold;
  font-size: smaller;
}

.sup-opcional {
  font-size: smaller;
}
.bold-text {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: medium;
}
